.page {
  z-index: 1;
  position: relative;
  width: 375px;
  height: 812px;
  background-color: rgba(247, 247, 247, 1);
  overflow: hidden;
  justify-content: flex-start;
  padding-top: 0;
}

.box1 {
  z-index: auto;
  width: 375px;
  height: 803px;
}

.bd1 {
  z-index: 2;
  height: 88px;
  background-color: rgba(255, 255, 255, 1);
  width: 375px;
  justify-content: flex-start;
}

.mod1 {
  z-index: auto;
  width: 375px;
  height: 79px;
}

.group1 {
  z-index: 7;
  height: 44px;
  width: 375px;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 14px 11px 0;
}

.mod2 {
  z-index: auto;
  width: 340px;
  height: 17px;
}

.outer1 {
  z-index: 22;
  width: 54px;
  height: 17px;
  overflow-wrap: break-word;
  text-align: center;
  white-space: nowrap;
  font-size: 0;
}

.word1 {
  font-size: 14px;
  font-family: Helvetica;
  color: rgba(0, 0, 0, 1);
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.word2 {
  font-size: 14px;
  font-family: Helvetica;
  color: rgba(0, 0, 0, 1);
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.outer2 {
  z-index: 16;
  width: 17px;
  height: 11px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng8ce7767a969f0a87db754c9e45a3e7a4dcead05688664c56b6305e19b5138508) -1px -1px
    no-repeat;
  margin: 2px 0 0 219px;
}

.outer3 {
  z-index: 12;
  width: 16px;
  height: 11px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng92d71d13da58ba4887551315bf83a1d7044dd8e56d5d54f8f479185caa02c6e2) -1px
    0px no-repeat;
  margin: 2px 0 0 5px;
}

.label1 {
  z-index: 8;
  width: 25px;
  height: 12px;
  margin: 1px 0 0 4px;
}

.group2 {
  z-index: auto;
  width: 335px;
  height: 25px;
  margin: 10px 0 0 20px;
}

.icon1 {
  z-index: 23;
  width: 12px;
  height: 22px;
  margin-top: 2px;
}

.txt1 {
  z-index: 3;
  width: 71px;
  height: 25px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  letter-spacing: -0.4320000112056732px;
  white-space: nowrap;
  line-height: 25px;
  text-align: left;
  margin-left: 120px;
}

.word3 {
  z-index: 4;
  width: 28px;
  height: 20px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(11, 196, 119, 1);
  font-size: 14px;
  letter-spacing: -0.335999995470047px;
  white-space: nowrap;
  line-height: 20px;
  text-align: left;
  margin: 3px 0 0 104px;
}

.bd2 {
  z-index: auto;
  width: 81px;
  height: 22px;
  justify-content: space-between;
  margin: 10px 0 0 10px;
}

.box2 {
  z-index: 31;
  width: 8px;
  height: 20px;
  border-radius: 4px;
  background-color: rgba(11, 196, 119, 1);
  margin-top: 1px;
}

.info1 {
  z-index: 35;
  width: 63px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 16px;
  letter-spacing: -0.3840000033378601px;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
}

.bd3 {
  z-index: 27;
  height: 90px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 1px 1px 9px -2px rgba(0, 0, 0, 0.19);
  align-self: center;
  margin-top: 10px;
  width: 355px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 9px 0 0 10px;
}

.block1 {
  z-index: auto;
  width: 325px;
  height: 68px;
}

.section1 {
  z-index: 37;
  width: 50px;
  height: 50px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng292143b568bf961a51f5ebef2b3cfc4c29931d135def35f10221e5fb7ef4288b) -4px -4px
    no-repeat;
  margin-top: 6px;
}

.section2 {
  z-index: auto;
  width: 232px;
  height: 68px;
  margin-left: 10px;
}

.layer1 {
  z-index: auto;
  width: 126px;
  height: 22px;
  justify-content: space-between;
}

.word4 {
  z-index: 48;
  width: 47px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 16px;
  letter-spacing: -0.3840000033378601px;
  font-family: PingFangSC-Medium;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
}

.word5 {
  z-index: 56;
  width: 69px;
  height: 17px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 12px;
  white-space: nowrap;
  line-height: 17px;
  text-align: left;
  margin-top: 2px;
}

.paragraph1 {
  z-index: 52;
  width: 232px;
  height: 40px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  letter-spacing: -0.335999995470047px;
  line-height: 20px;
  text-align: left;
  margin-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon2 {
  z-index: 60;
  width: 16px;
  height: 16px;
  margin: 30px 0 0 17px;
}

.bd4 {
  z-index: auto;
  width: 50px;
  height: 22px;
  justify-content: space-between;
  margin: 20px 0 0 10px;
}

.outer4 {
  z-index: 32;
  width: 8px;
  height: 20px;
  border-radius: 4px;
  background-color: rgba(11, 196, 119, 1);
  margin-top: 1px;
}

.word6 {
  z-index: 36;
  width: 32px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 16px;
  letter-spacing: -0.3840000033378601px;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
}

.bd5 {
  z-index: 28;
  height: 90px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 1px 1px 9px -2px rgba(0, 0, 0, 0.19);
  align-self: center;
  margin-top: 10px;
  width: 355px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 9px 0 0 10px;
}

.box3 {
  z-index: auto;
  width: 325px;
  height: 68px;
}

.outer5 {
  z-index: 45;
  height: 50px;
  border-radius: 50%;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng4d835bfbff587e50b71b306f15b1f76c14239521f8a68d96b4083d591617122e)
    100% no-repeat;
  margin-top: 6px;
  width: 50px;
  justify-content: center;
  align-items: center;
}

.info2 {
  z-index: 97;
  width: 18px;
  height: 25px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(29, 166, 109, 1);
  font-size: 18px;
  letter-spacing: -0.4320000112056732px;
  white-space: nowrap;
  line-height: 25px;
  text-align: left;
}

.outer6 {
  z-index: auto;
  width: 232px;
  height: 68px;
  margin-left: 10px;
}

.mod3 {
  z-index: auto;
  width: 126px;
  height: 22px;
  justify-content: space-between;
}

.info3 {
  z-index: 49;
  width: 47px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 16px;
  letter-spacing: -0.3840000033378601px;
  font-family: PingFangSC-Medium;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
}

.txt2 {
  z-index: 57;
  width: 69px;
  height: 17px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 12px;
  white-space: nowrap;
  line-height: 17px;
  text-align: left;
  margin-top: 2px;
}

.paragraph2 {
  z-index: 53;
  width: 232px;
  height: 40px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  letter-spacing: -0.335999995470047px;
  line-height: 20px;
  text-align: left;
  margin-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label2 {
  z-index: 70;
  width: 16px;
  height: 16px;
  margin: 30px 0 0 17px;
}

.bd6 {
  z-index: 29;
  height: 90px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 1px 1px 9px -2px rgba(0, 0, 0, 0.19);
  align-self: center;
  margin-top: 10px;
  width: 355px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 9px 0 0 10px;
}

.outer7 {
  z-index: auto;
  width: 325px;
  height: 68px;
}

.mod4 {
  z-index: 46;
  height: 50px;
  border-radius: 50%;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng4d835bfbff587e50b71b306f15b1f76c14239521f8a68d96b4083d591617122e)
    100% no-repeat;
  margin-top: 6px;
  width: 50px;
  justify-content: center;
  align-items: center;
}

.txt3 {
  z-index: 98;
  width: 18px;
  height: 25px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(29, 166, 109, 1);
  font-size: 18px;
  letter-spacing: -0.4320000112056732px;
  white-space: nowrap;
  line-height: 25px;
  text-align: left;
}

.mod5 {
  z-index: auto;
  width: 232px;
  height: 68px;
  margin-left: 10px;
}

.outer8 {
  z-index: auto;
  width: 126px;
  height: 22px;
  justify-content: space-between;
}

.word7 {
  z-index: 50;
  width: 47px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 16px;
  letter-spacing: -0.3840000033378601px;
  font-family: PingFangSC-Medium;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
}

.info4 {
  z-index: 58;
  width: 69px;
  height: 17px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 12px;
  white-space: nowrap;
  line-height: 17px;
  text-align: left;
  margin-top: 2px;
}

.paragraph3 {
  z-index: 54;
  width: 232px;
  height: 40px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  letter-spacing: -0.335999995470047px;
  line-height: 20px;
  text-align: left;
  margin-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label3 {
  z-index: 79;
  width: 16px;
  height: 16px;
  margin: 30px 0 0 17px;
}

.bd7 {
  z-index: 30;
  height: 90px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 1px 1px 9px -2px rgba(0, 0, 0, 0.19);
  align-self: center;
  margin-top: 10px;
  width: 355px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 9px 0 0 10px;
}

.bd8 {
  z-index: auto;
  width: 325px;
  height: 68px;
}

.block2 {
  z-index: 47;
  height: 50px;
  border-radius: 50%;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng4d835bfbff587e50b71b306f15b1f76c14239521f8a68d96b4083d591617122e)
    100% no-repeat;
  margin-top: 6px;
  width: 50px;
  justify-content: center;
  align-items: center;
}

.info5 {
  z-index: 99;
  width: 18px;
  height: 25px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(29, 166, 109, 1);
  font-size: 18px;
  letter-spacing: -0.4320000112056732px;
  white-space: nowrap;
  line-height: 25px;
  text-align: left;
}

.block3 {
  z-index: auto;
  width: 232px;
  height: 68px;
  margin-left: 10px;
}

.layer2 {
  z-index: auto;
  width: 126px;
  height: 22px;
  justify-content: space-between;
}

.word8 {
  z-index: 51;
  width: 47px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 16px;
  letter-spacing: -0.3840000033378601px;
  font-family: PingFangSC-Medium;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
}

.info6 {
  z-index: 59;
  width: 69px;
  height: 17px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 12px;
  white-space: nowrap;
  line-height: 17px;
  text-align: left;
  margin-top: 2px;
}

.infoBox1 {
  z-index: 55;
  width: 232px;
  height: 40px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  letter-spacing: -0.335999995470047px;
  line-height: 20px;
  text-align: left;
  margin-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon3 {
  z-index: 88;
  width: 16px;
  height: 16px;
  margin: 30px 0 0 17px;
}

.bd9 {
  z-index: 100;
  height: 40px;
  border-radius: 20px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngabf95db5fc7daeeb1ce4d64ba0abed80004d4e8cafa3b651ee1348dcc9f0eeeb)
    100% no-repeat;
  align-self: center;
  margin-top: 116px;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.box4 {
  z-index: auto;
  width: 130px;
  height: 22px;
  justify-content: space-between;
}

.bd10 {
  z-index: 102;
  width: 17px;
  height: 17px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnge025dcdcf5d99245409e843622729b74349476c9b305d069c57725bd65a30954) -1px -1px
    no-repeat;
  margin-top: 3px;
}

.info7 {
  z-index: 101;
  width: 104px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  letter-spacing: 1.1888890266418457px;
  font-family: PingFangSC-Medium;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
}

.img1 {
  z-index: 33;
  width: 134px;
  height: 5px;
  align-self: center;
  margin-top: 80px;
}
