.page {
  z-index: 1;
  position: relative;
  width: 750rpx;
  height: 1624rpx;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  justify-content: flex-start;
  padding-top: 0;
}

.block1 {
  z-index: auto;
  width: 750rpx;
  height: 1606rpx;
}

.main1 {
  z-index: 2;
  height: 176rpx;
  background-color: rgba(255, 255, 255, 1);
  width: 750rpx;
  align-items: flex-end;
  position: relative;
}

.group1 {
  z-index: 3;
  height: 176rpx;
  background-color: rgba(247, 247, 247, 1);
  width: 748rpx;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 0 20rpx 18rpx;
}

.box1 {
  z-index: auto;
  width: 436rpx;
  height: 50rpx;
  justify-content: space-between;
}

.label1 {
  z-index: 4;
  width: 24rpx;
  height: 40rpx;
  margin-top: 6rpx;
}

.word1 {
  z-index: 26;
  width: 156rpx;
  height: 50rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 36rpx;
  letter-spacing: 1.3375000953674316px;
  white-space: nowrap;
  line-height: 50rpx;
  text-align: left;
}

.group2 {
  z-index: 8;
  height: 88rpx;
  width: 750rpx;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 28rpx 22rpx 0;
}

.outer1 {
  z-index: auto;
  width: 680rpx;
  height: 34rpx;
}

.group3 {
  z-index: 23;
  width: 108rpx;
  height: 34rpx;
  overflow-wrap: break-word;
  text-align: center;
  white-space: nowrap;
  font-size: 0;
}

.word2 {
  font-size: 28rpx;
  font-family: Helvetica;
  color: rgba(0, 0, 0, 1);
  line-height: 34rpx;
  overflow: hidden;
  text-overflow: ellipsis;
}

.word3 {
  font-size: 28rpx;
  font-family: Helvetica;
  color: rgba(0, 0, 0, 1);
  line-height: 34rpx;
  overflow: hidden;
  text-overflow: ellipsis;
}

.group4 {
  z-index: 17;
  width: 34rpx;
  height: 22rpx;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng8ce7767a969f0a87db754c9e45a3e7a4dcead05688664c56b6305e19b5138508) -1rpx -1rpx
    no-repeat;
  margin: 4rpx 0 0 438rpx;
}

.group5 {
  z-index: 13;
  width: 32rpx;
  height: 22rpx;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng92d71d13da58ba4887551315bf83a1d7044dd8e56d5d54f8f479185caa02c6e2) -1rpx
    0rpx no-repeat;
  margin: 4rpx 0 0 10rpx;
}

.label2 {
  z-index: 9;
  width: 50rpx;
  height: 24rpx;
  margin: 2rpx 0 0 8rpx;
}

.main2 {
  z-index: 48;
  height: 240rpx;
  border: 1px solid rgba(151, 151, 151, 1);
  background-color: rgba(216, 216, 216, 1);
  align-self: flex-end;
  width: 240rpx;
  justify-content: center;
  align-items: center;
  margin: 328rpx 252rpx 0 0;
}

.txt1 {
  z-index: 49;
  width: 70rpx;
  height: 50rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 36rpx;
  letter-spacing: -0.4320000112056732px;
  white-space: nowrap;
  line-height: 50rpx;
  text-align: left;
}

.txt2 {
  z-index: 50;
  width: 384rpx;
  height: 40rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 28rpx;
  letter-spacing: -0.335999995470047px;
  white-space: nowrap;
  line-height: 40rpx;
  text-align: left;
  align-self: flex-end;
  margin: 40rpx 180rpx 0 0;
}

.main3 {
  z-index: auto;
  width: 240rpx;
  height: 40rpx;
  justify-content: space-between;
  margin: 40rpx 0 0 258rpx;
}

.icon1 {
  z-index: 28;
  width: 34rpx;
  height: 36rpx;
  margin-top: 2rpx;
}

.word4 {
  z-index: 45;
  width: 186rpx;
  height: 40rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 28rpx;
  letter-spacing: 0.36399999260902405px;
  white-space: nowrap;
  line-height: 40rpx;
  text-align: left;
}

.main4 {
  z-index: auto;
  width: 240rpx;
  height: 40rpx;
  justify-content: space-between;
  margin: 18rpx 0 0 258rpx;
}

.label3 {
  z-index: 32;
  width: 34rpx;
  height: 28rpx;
  margin-top: 6rpx;
}

.info1 {
  z-index: 46;
  width: 186rpx;
  height: 40rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 28rpx;
  letter-spacing: 0.36399999260902405px;
  white-space: nowrap;
  line-height: 40rpx;
  text-align: left;
}

.main5 {
  z-index: auto;
  width: 240rpx;
  height: 40rpx;
  justify-content: space-between;
  margin: 20rpx 0 0 258rpx;
}

.label4 {
  z-index: 39;
  width: 34rpx;
  height: 28rpx;
  margin-top: 6rpx;
}

.word5 {
  z-index: 47;
  width: 186rpx;
  height: 40rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 28rpx;
  letter-spacing: 0.36399999260902405px;
  white-space: nowrap;
  line-height: 40rpx;
  text-align: left;
}

.pic1 {
  z-index: 24;
  width: 268rpx;
  height: 10rpx;
  align-self: center;
  margin-top: 574rpx;
}
