.page {
  z-index: 1;
  position: relative;
  width: 375px;
  height: 812px;
  background-color: rgba(247, 247, 247, 1);
  overflow: hidden;
  justify-content: flex-start;
  padding-top: 0;
}

.main1 {
  z-index: auto;
  width: 375px;
  height: 803px;
}

.layer1 {
  z-index: 2;
  height: 88px;
  background-color: rgba(255, 255, 255, 1);
  width: 375px;
  align-items: flex-end;
  position: relative;
}

.group1 {
  z-index: 3;
  height: 88px;
  background-color: rgba(255, 255, 255, 1);
  width: 374px;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 0 10px 9px;
}

.section1 {
  z-index: auto;
  width: 216px;
  height: 25px;
  justify-content: space-between;
}

.icon1 {
  z-index: 4;
  width: 12px;
  height: 20px;
  margin-top: 3px;
}

.txt1 {
  z-index: 26;
  width: 78px;
  height: 25px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  letter-spacing: 1.3375000953674316px;
  white-space: nowrap;
  line-height: 25px;
  text-align: left;
}

.group2 {
  z-index: 8;
  height: 44px;
  width: 375px;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 14px 11px 0;
}

.main2 {
  z-index: auto;
  width: 340px;
  height: 17px;
}

.box1 {
  z-index: 23;
  width: 54px;
  height: 17px;
  overflow-wrap: break-word;
  text-align: center;
  white-space: nowrap;
  font-size: 0;
}

.word1 {
  font-size: 14px;
  font-family: Helvetica;
  color: rgba(0, 0, 0, 1);
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.word2 {
  font-size: 14px;
  font-family: Helvetica;
  color: rgba(0, 0, 0, 1);
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box2 {
  z-index: 17;
  width: 17px;
  height: 11px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng8ce7767a969f0a87db754c9e45a3e7a4dcead05688664c56b6305e19b5138508) -1px -1px
    no-repeat;
  margin: 2px 0 0 219px;
}

.box3 {
  z-index: 13;
  width: 16px;
  height: 11px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng92d71d13da58ba4887551315bf83a1d7044dd8e56d5d54f8f479185caa02c6e2) -1px
    0px no-repeat;
  margin: 2px 0 0 5px;
}

.icon2 {
  z-index: 9;
  width: 25px;
  height: 12px;
  margin: 1px 0 0 4px;
}

.layer2 {
  z-index: auto;
  width: 355px;
  height: 400px;
  margin: 20px 0 0 10px;
}

.box4 {
  z-index: 27;
  height: 190px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 4px 0px rgba(153, 153, 153, 0.19);
  margin-bottom: 20px;
  width: 355px;
  justify-content: flex-start;
}

.block1 {
  z-index: auto;
  width: 355px;
  height: 180px;
}

.block2 {
  z-index: 38;
  position: relative;
  width: 355px;
  height: 150px;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng5732e49fc5e8717806a3e7fe10ef71aa4702070da06439258a7002cdeae0fac4)
    100% no-repeat;
}

.group3 {
  z-index: 39;
  height: 150px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng6fe984ccdaa49dc6a50cf9df820e2e93fcbbfba65a45fb00756828ae7d7e5637)
    100% no-repeat;
  width: 355px;
  position: absolute;
  left: 0;
  top: 0;
}

.img1 {
  z-index: 40;
  width: 355px;
  height: 150px;
}

.block3 {
  z-index: auto;
  width: 327px;
  height: 20px;
  justify-content: space-between;
  margin: 10px 0 0 6px;
}

.info1 {
  z-index: 45;
  width: 110px;
  height: 20px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  letter-spacing: -0.335999995470047px;
  white-space: nowrap;
  line-height: 20px;
  text-align: left;
}

.mod1 {
  z-index: 29;
  width: 10px;
  height: 17px;
  margin-top: 2px;
}

.img2 {
  z-index: 24;
  width: 134px;
  height: 5px;
  align-self: center;
  margin-top: 290px;
}
